*{
    padding: 0;
    margin: 0;
}
body {
    background: url('fonbody.jpg');
}
/*heads menu*/
.heads {
    margin: 10px 5px;
    width: 98.2%;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 3px solid #ccc;
}
.headsul > li{
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}
.headA{
    text-decoration: none;
    color: #fff;

}
#lihead1{
    margin-left: 30px;
    font-size: 36px;
    /*background: rgba(151, 146, 146, 0.568);
    border: 2px solid #ccc;
    border-radius: 10px;*/
    padding: 4px;
    position: relative;
    top: -2px;
}
#lihead2{
    margin-left: 120px;
}
#lihead3{
    margin-left: 150px;
}
#lihead4{
    margin-left: 150px;
}
/*content*/
#content1{
    margin: 50px 50px;
    width: 89.5%;
    height: 600px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 3px solid #ccc; 
    padding: 10px 20px;
}
#contentp{
    font-size: 30px;
    color: white;
}